<div class="container">

  <h1 class="title">{{ title }}</h1>
  
  
  <div class="text">

    <p class="list__message" *ngIf="todos.length==0">Você não tem nenhuma tarefa hoje.</p>

    <ul class="list">
  
      <!-- <p class="list__message" *ngIf="todos.length==0">Você não tem nenhuma tarefa hoje.</p> -->
  
      <li class="list__item" *ngFor="let todo of todos">

        <p class="list__item__text"><strong>{{todo.id}}.</strong> {{ todo.title }}</p>

        <div class="list__buttons">
          <button class="button" *ngIf="!todo.done" (click)="markAsDone(todo)">CONCLUIR</button>
          <button class="button" *ngIf="todo.done" (click)="markAsUndone(todo)">REFAZER</button>
          <button class="button" (click)="remove(todo)">REMOVER</button>
        </div>

      </li>
  
    </ul>
  
  </div>
  
  <form class="form" [formGroup]="form">

    <fieldset>

      <label>Tarefa</label>
        <input type="text"
          placeholder="Título da tarefa" maxlength="60"
          formControlName="title">
          <small *ngIf="form.controls['title'].invalid && !form.controls['title'].pristine">Este campo deve conter entre 3 e 60 caracteres.</small>
        <button [disabled]="form.invalid" (click)="add()">Salvar</button>

    </fieldset>

  </form>

</div>

<!--

  Binds

  () = HTML para o TS
  [] = do TS para o HTML
  [()] = TS <> HTML (two-way data binding)

-->