<div class="container">

  <h1 class="title">{{ title }}</h1>
  
  <div class="intro" *ngIf="mode=='list'">

    <p class="list__message" *ngIf="todos.length==0">Você não tem nenhuma tarefa hoje.</p>

    <button class="button" (click)="changeMode('add')">Adicionar tarefa</button>

  </div>

  <div id="modal" *ngIf="mode=='add'">

    <form class="form" [formGroup]="form">
      <label>Nova tarefa</label>
        <input type="text"
          placeholder="Título da tarefa" maxlength="60"
          formControlName="title">

          <small class="form__danger" *ngIf="form.controls['title'].invalid && !form.controls['title'].pristine">Este campo deve conter entre 6 e 60 caracteres.</small>

        <div class="form__buttons">
          <button class="button" [disabled]="form.invalid" (click)="add()">Salvar</button>
          <button class="button" (click)="changeMode('list')">Voltar</button>
        </div>
    
     </form>

  </div>

</div>

  <div *ngIf="mode=='list'" class="text">

    <ul class="list">
  
      <li class="list__item" *ngFor="let todo of todos">

        <p class="list__item__text"><strong>{{todo.id}}.</strong> {{ todo.title }}</p>

        <div class="list__buttons">
          <button class="button" *ngIf="!todo.done" (click)="markAsDone(todo)">CONCLUIR</button>
          <button class="button" *ngIf="todo.done" (click)="markAsUndone(todo)">REFAZER</button>
          <button class="button" (click)="remove(todo)">REMOVER</button>
        </div>

      </li>
  
    </ul>
  
  </div>

<!--

  Binds

  () = HTML para o TS
  [] = do TS para o HTML
  [()] = TS <> HTML (two-way data binding)

-->